

.navbar{
    background-color: #121921;
    height: 80px;
    
}
.navbar ul li{
   padding: 2px 10px;
   font-size: 14px;
   font-weight: 500;
   margin-left: 20px;
    
}
.navbar ul li a{
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    
}
.navbar ul li a:hover{
    color: #8d8d8d;
    
}

.navbar ul li a:active{
    color: #9a9a9a;
}

.search-box{
    width: 350px;  
}

.cart-badge{
    font-size: 13px;
    margin-left: 2px;
}


@media (min-width:  980px) and (max-width: 1238px) {
    
    .search-box{
        width: 300px;  
    }
   
  }

